{% extends 'base.html.twig' %}

{% block title %}
	Administration des catégories
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Administration des catégories</h1>
		<a href="{{ path('admin.categories.create') }}" class="btn btn-primary mt-2">Créer une catégorie</a>
		<div class="blog-list">
			{% for categorie in categories %}
				<div class="blog-card">
					<div class="blog-card-content">
						<h2>{{ categorie.title|sanitize_html }}</h2>
						<p class="blog-card-actif {{ categorie.enable ? 'text-success' : 'text-danger' }}">{{ categorie.enable ? 'Actif' : 'Inactif' }}</p>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="switch-actif-tag-{{ categorie.id }}" data-id="{{ categorie.id }}" {{ categorie.enable ? 'checked' }} js-switch-tag>
							<label class="form-check-label" for="switch-actif-tag-{{ categorie.id }}">Actif</label>
						</div>
						<div class="d-flex justify-content-between mt-2">
							<a href="{{ path('admin.categories.edit', {id: categorie.id}) }}" class="btn btn-warning">Modifier</a>
							{% include 'Backend/Categorie/_deleteForm.html.twig' %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
