{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un utilisateur
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Modification d'un utilisateur</h1>
		{% include 'Backend/User/_form.html.twig' with { buttonLabel: 'Modifier' } %}
	</section>
{% endblock %}
